.container {

    background-color: var(--black);
    color: white;

    height: 10%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    h2, h3 {
        margin: 0%;
    }

    .title {
    }
    .artist {
        color: #ccc;
    }
}