@import '../../../../shared-styles/shared.scss';
.container {
    @extend %link-container;

    justify-content: center;
    flex: 1;

    height: 5vh;

    svg {
        transform: scale(0.7) !important;
    }

    &:first-of-type {
        border-right-width: 1px;
    }
}